* {
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../imgs/微信图片_20191113224829-1.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* top-container */
/* 投票情况部分 */
.top-container {
    height: 723px;
    width: 100%;
    /* background-image: url(../imgs/微信图片_20191113224829-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
.main-box,
.voteResult-box,
.voteResult-box-shadow{
    height: 630px;
    width: 900px;
}
.main-box{
    /* padding: 15px 100px; */
    /* background-color: aliceblue; */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.voteResult-box{
    padding: 15px 100px;
    background-color: white;
    position: absolute;
    z-index: 1000;
    border-radius: 10px;
    border: 8px solid black;
}
.voteResult-box-shadow{
    background-image: url(../imgs/微信图片_20191116222004.png);
    background-size: cover;
    background-position: bottom right;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 999;
    border-radius: 10px;
}
/* 前三名 */
.topThree-box{
    height: 300px;
    padding: 0 40px;
    margin-top: 50px;
    /* background-color: coral; */
}

.topThree-img-box{
    display: inline-block;
}
.head-img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#No-3,
#No-2{
    height: 100px;
    width: 100px;
    position: relative;
    top: 50px;
}
#No-1{
    height: 100px;
    width: 100px;
    /* background-color: sandybrown; */
    position: relative;
}
.crown{
    display: block;
    height: 60px;
    width: 60px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -20px;
    /* 旋转 */
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);       /* IE 9 */
    -webkit-transform: rotate(15deg);   /* Safari and Google */
    -moz-transform: rotate(15deg);      /* Firefox */
    -o-transform: rotate(15deg);        /* Opera */
}
.topThree-img-box p{
    font-size: 1rem;
    margin-bottom: 0;
}
/* 票数数字样式 */
.votes-num{
    font-style: italic;
    color: red;
    font-weight: bold;
}

/* 排名列表 */
.voteRankList-box{
    padding-left: 20px;
    padding-right: 20px;
}
.rank-item{                 /*排名列表中每一项的样式*/
    padding: 15px;
    margin-bottom: 20px;
    background-color: gainsboro;
    border-radius:30px;
    text-align: justify;
}

/* 展开按钮 */
.runElect-button{
    display: inline-block;
    margin-right: 10px;
}
.open-button{
    display: inline-block;
    cursor: pointer;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    
}


/* --------end-投票情况部分-end---------- */



/* bottom-contianer */
/* 选择投票和查看当前票数部分 */
.bottom-container {
    height: 2080px;
    width: 100%;
    background-image: url(../imgs/nathan-dumlao-kbS_BX-q6Qw-unsplash.jpg);
    /* background-size: cover; */
    background-repeat:repeat;
    background-position: center;
    position: relative;
}
.box-height{
    height: 2080px;
    background-color: aliceblue;
}
/* 导航栏和搜索框 */
.nav-box{
    padding: 30px;
    text-align: center;
}
/* 所有参选人卡片 */
.card{
    font-weight: normal;
}
.candidate-box{
    height: 1640px;
    /* padding: 30px; */
    overflow: auto;
}
.eachRow-card{
    margin-bottom: 20px;
}
.card-body p{
    /* font-size: 0.9rem; */
}
.card-footer{
    /* font-size: 0.9rem; */
}
.card-footer p{
    margin-bottom: 0;
}
.card-footer strong{
    color: red;
    font-style: italic;
}
/* 底部网站信息 */
.web-info{
    height: 80px;
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    /* background-color: coral; */
    position: absolute;
    bottom: 0;
    text-align: center;
}

/* 媒体查询 */
 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .main-box,
    .voteResult-box,
    .voteResult-box-shadow{
        height: 630px;
        width: 800px;
    }
    .voteResult-box h1{
        font-size: 2rem;
    }
}

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-box,
    .voteResult-box,
    .voteResult-box-shadow{
        height: 630px;
        width: 550px;
    }
    .voteResult-box{
        padding: 10px 30px;
    }
    .rank-item{
        padding: 10px;
        margin-bottom: 10px;
    }
    .voteResult-box h1{
        font-size: 1.8rem;
    }
    .rank-item{
        border-radius: 35px;
    }
}

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .top-container{
        height: 1350px;
    }
    .main-box,
    .voteResult-box,
    .voteResult-box-shadow{
        height: 1250px;
        width: 300px;
    }
    .main-box{
        margin-top: 20px;
    }
    .voteResult-box-shadow{
        background-image: url(../imgs/微信图片_20191117143441.png);
        background-size: cover;
        background-position: bottom right;
        position: relative;
    }
    .topThree-box{
        margin-top: 20px;
        width: 200px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #No-1,#No-2,#No-3{
        width: 200px;
    }
    #No-1{
        top: -60px;
    }
    #No-2{
        top: 335px;
    }
    #No-3{
        top: 430px;
    }
    .head-img{
        height: 150px;
        width: 150px;
    }
    .nav-box h1,
    .voteResult-box h1{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .voteRankList-box{
        padding: 0;
        margin-top: 620px;
    }
}
